---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import News from '../components/News.astro';
---

<Layout title="Nike. Just Do It. Nike ES">
	<main>
		<Hero />
		<News />
	</main>
</Layout>

<style>

</style>
