---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import News from "../components/News.astro";
import GetOurIcons from "../components/GetOurIcons.astro";
import Sports from "../components/Sports.astro";
---

<Layout title="Nike. Just Do It. Nike ES">
  <main>
    <Hero />
    <News />
    <GetOurIcons />
    <Sports />
  </main>
</Layout>

<style></style>
