---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Preheader from '../components/Preheader.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Nike. Just Do It. Nike ES">
	<main>
		<Hero />
	</main>
</Layout>

<style>

</style>
