---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import News from "../components/News.astro";
import GetOurIcons from "../components/GetOurIcons.astro";
import Sports from "../components/Sports.astro";
import WeekNews from "../components/WeekNews.astro";
import Discover from "../components/Discover.astro";
import Membership from "../components/Membership.astro";
---

<Layout title="Nike. Just Do It. Nike ES">
  <main>
    <Hero />
    <News />
    <GetOurIcons />
    <Sports />
    <WeekNews />
    <Discover />
    <Membership />
  </main>
</Layout>

<style></style>
