<section
  class="w-full aspect-[9/16] lg:aspect-[26/9] relative bg-white hero-section"
>
  <video
    class="w-full h-full object-cover"
    src="media/hero-video.mp4"
    playsinline
    loop
    muted
    autoplay></video>
  <div
    class="absolute bottom-6 left-6 lg:bottom-12 lg:left-12 flex flex-col gap-4 items-start text-white"
  >
    <h1 class="text-4xl sm:text-6xl lg:text-7xl 2xl:text-8xl font-extrabold transition-[font-size] duration-300">
      CORRE CON LLUVIA
    </h1>
    <p class="font-semibold">
      Sal a darlo todo con las Nike Pegasus 41 GORE-TEX.
    </p>
    <button class="px-4 py-2 bg-white rounded-full text-black font-semibold"
      >Comprar</button
    >
  </div>
</section>

<style>
  h1 {
    font-family: Nike Futura;
  }
</style>
