<header class="bg-neutral-100 flex flex-col items-center text-center px-4 py-2 font-semibold">
    <span>Devoluciones y entregas gratuitas</span>
    <span class="text-xs">Como Member, tienes envíos y devoluciones gratis en un plazo de 30 días en todos los pedidos. <a href="/" class="underline"><strong>Obtén más información</strong></a> </span>
</header>